.navigationSection {
  width: 440px;
  height: 440px;
  position: absolute;
  left: -80px;
  top: -20px;
 }

.mainInfo {
  margin-left: 370px;
  padding: 20px 20px 20px 0;
  color: #9F2120;
  font-size: 19px;
  font-family: 'PP Sans';
  columns: auto 300px;
  max-height: 90vh;
  column-gap: 60px;
  margin-right: 100px;
  width: 400px;

  p {
    margin-bottom: 19px;
  }

  a {
    border-bottom: 2px solid;
    &::selection {
      background: #FF6817;
      color: white;
    }
    &:hover {
      border-bottom: 4px solid;
      border-image: url("../../../public/border-red.png") 100% 2 repeat;
    }
  }

  

  h2 {
    padding-left: 19px;
    font-size: 26px;
    text-decoration: underline;
    margin-bottom: 19px;
    font-weight: normal;
    padding-top: 19px;
  }

  h3 {
    padding-left: 40px;
    padding-top: 19px;
    font-size: 19px;
    font-weight: normal;
    margin-bottom: 19px;
    border-top: 1.5px solid #9F2120;
    &:first-of-type {
      border-top: none;
    }
  }
  ul {

    list-style-type: none;
    li {
      // margin-bottom: 9.5px;
      text-indent: -5px;
      &::before {
        content: "— ";
        text-indent: -5px;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.languageMenu {
  position: fixed;
  bottom: 20px;
  left: 20px;
}
 

@media screen and (max-width: 800px) {
  .navigationSection {
    left: 0;
    height: auto;
    top: 0px;
    width: 100%;
    position: relative;
  }

  .mainInfo {
    margin-left: 0;
    columns: 1;
    max-height: none;
    column-gap: 0;
    margin-right: 0;
    width: calc(100% - 40px);
  }
}

@media screen and (max-width: 600px) {
  .mainInfo {
    padding: 15px;
    font-size: 18px;
  }
}